* {
  list-style: none;
  text-decoration: none;
}

body {
  background-color: white;
  margin: 0;
  font-family: lexend;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../image/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.navigation {
  position: fixed;
  top: 0;
  width: 96.5%;
  margin: 0px 10px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px white;
}

.navigation a {
  color: white;
}

.navigation a:hover {
  color: #919ee9;
}

.menu span {
  padding: 0px 10px;
}

#langue a {
  color: white;
  position: fixed;
  margin: 80px 60px;
  top: 0;
  right: 0;
}

#langue a:hover {
  text-decoration: none;
  color: #919ee9;
  position: fixed;
  margin: 80px 60px;
  top: 0;
  right: 0;
}

.container {
  margin: 150px 10px;
  display: flex;
}

.infoBox {
  margin: 0 auto;
  margin-top: 125px;
  color: white;
}

.infoBox h1 {
  margin: 0;
  font-size: 50px;
}

.infoBox h3 {
  margin: 0;
  font-size: 25px;
}

#barre {
  border-bottom: solid 1px white;
}

#paragrapheStart {
  margin-top: 50px;
}

#CV {
  width: 200px;
  background-color: white;
  margin: 60px 0px 0px 150px;
  text-align: center;
  padding: 7px;
  border-radius: 30px;
  box-shadow: 0px 0px 50px #919ee9;
}
#CV a {
  color: black;
  font-size: 25px;
  padding: 7px 80px;
  border-radius: 30px;
}

#CV:hover {
  box-shadow: 0px 0px 50px #6b7ee9;
}

#CV a:hover {
  color: #6b7ee9;
  cursor: pointer;
}

.box {
  background-color: white;
  width: 500px;
  height: 600px;
  margin: auto;
  border-radius: 30px;
  box-shadow: 0px 0px 50px #919ee9;
}

table {
  text-align: center;
  margin: 0 auto;
}

.presentation {
  padding: 30px 0px 20px 0px;
  font-size: 25px;
}

.photo img {
  border-radius: 180px;
  box-shadow: 5px 5px 15px black;
  margin-bottom: 30px;
}

.infoPresentation {
  padding: 15px;
  width: 350px;
  text-align: center;
  font-size: 15px;
  border-radius: 30px;
  border: none;
  box-shadow: 5px 5px 15px black;
}

.reseaux {
  text-align: center;
}

.reseaux img {
  width: 50px;
  border-radius: 180px;
  box-shadow: 0px 0px 50px #919ee9;
  margin: 35px 20px;
}

.reseaux img:hover {
  box-shadow: 0px 0px 50px #6b7ee9;
  cursor: pointer;
}

.container2 {
  /* background: linear-gradient(
    to top,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  ); */
  /* min-height: 500px; */
  margin-bottom: 10vh;
  background-size: cover;
  background-repeat: no-repeat;
}
/* 
#parcours {
  width: 200px;
  padding: 7px;
  font-size: 30px;
  margin-left: 60px;
  text-align: center;
  background-color: white;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 0px 50px #919ee9;
} */

.qualites-box,
.competences-box {
  margin: 0 auto;
  background-color: white;
  max-width: max-content;
  box-shadow: 0px 0px 50px #919ee9;
  border-radius: 30px;
}

#qualites-title,
#competences-title {
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  border-bottom: 3px solid black;
}

.qualites-box ul,
.competences-box ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.qualites-box li {
  margin: 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 30px;
  font-size: 20px;
}

.competences-box li {
  margin: 20px;
  font-size: 5vh;
}

.competences-title-2 {
  margin: auto;
  text-align: center;
  padding: 10px;
  border: 2px solid black;
  border-radius: 30px;
  width: max-content;
}

/*-------------------------Style Projets.html-------------------------*/

#projets-title-1 {
  background-color: #f7f7f7;
  text-align: center;
  margin-top: 15vh;
}

#projets-box h1 {
  margin: 0 auto;
}

.shape-1 {
  position: relative;
  background-color: red;
  width: 100px;
  height: 150vh;
  left: 65%;
  bottom: 55vh;
  transform: rotate(75deg);
}

.shape-2 {
  position: relative;
  background-color: blue;
  width: 100px;
  height: 150vh;
  /* right: 65%;
  top: 0px;
  bottom: 55vh; */
  transform: rotate(-75deg);
}
